@import 'icons.scss';

.re-file {
    background-color: var(--background-secondary);
    padding: 8px;
    border-radius: 5px;
    max-width: 500px;

    &>.re-toolbar {
        margin-top: 5px;

        width: min-content;

        background: var(--background-tertiary);
        border-radius: 5px;
        overflow: hidden;

        display: grid;

        grid-template-columns: min-content min-content min-content;
        grid-gap: 2px;

        &>div>.re-toolbar-item {
            width: 46px;
            height: 24px;

            display: grid;

            grid-template-columns: auto min-content;

            &>:first-child { // Icon
                justify-self: center;
                align-self: center;
                
                --re-file-button-color: var(--header-primary);
                background: var(--re-file-button-color);
                -webkit-mask: var(--re-file-icon) center/contain no-repeat;
                mask: var(--re-icon) center/contain no-repeat;

                width: 14px;
                height: 14px;
            }

            &>:last-child { // Seperator
                background: var(--text-muted);
                width: 2px;
                height: 14px;
                
                align-self: center;
                margin-right: -2px;

                pointer-events: none;
            }

            &.re-clickable { 
                cursor: pointer;

                &:hover { background: rgba(255, 255, 255, 0.05) }
            }
        }

        &>div:first-child>.re-toolbar-item>:first-child { --re-file-button-color: var(--text-muted) }

        &>div:last-child>.re-toolbar-item>:last-child { width: 0px }
    }
}