.re-icon {
    --re-file-icon: #{svg('./icons/file/default.svg')};
}

$types: 'archive', 'audio', 'image', 'save', 'more';

@each $type in $types {
    .re-icon-#{$type} {
        --re-file-icon: #{svg('./icons/file/' + $type + '.svg')};
    };
}